@import "tailwindcss";
@import "@pms/ui/styles.css";

@source "../../../packages/ui/src";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  min-width: 1120px;
  min-height: 700px;
  overflow: hidden;
}
